solicitud vacaciones.json
{
  "name": "solicitud vacaciones",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Solicitud de vacaciones",
        "formDescription": "Aqui puedes solicitar tus vacaciones o dias de enfermedad.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre completo",
              "placeholder": "Nombre empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "example@mail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha inicio",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha retorno",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Comentarios",
              "fieldType": "textarea",
              "placeholder": "Observaciones"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Informaci칩n enviada correctamente"
            }
          },
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* 游꿛 Modern Dark Gray Theme */\n\t--color-background: linear-gradient(135deg, #0f0f0f 0%, #2b2b2b 100%);\n\t--color-test-notice-text: #bdbdbd;\n\t--color-test-notice-bg: #1c1c1c;\n\t--color-test-notice-border: #333333;\n\n\t--color-card-bg: #1a1a1a;\n\t--color-card-border: #2e2e2e;\n\t--color-card-shadow: rgba(0, 0, 0, 0.6);\n\n\t--color-link: #cfcfcf;\n\t--color-header: #ffffff;\n\t--color-label: #d1d1d1;\n\n\t--color-input-border: #3a3a3a;\n\t--color-input-text: #3a3a3a;\n\t--color-focus-border: #888888;\n\n\t--color-submit-btn-bg: #ff6d5a; \n    --color-submit-btn-text: #ffffff;\n\n\t--color-error: #ff4b4b;\n\t--color-required: #ccccc\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -352,
        16
      ],
      "id": "34ae1409-4ef1-4f37-a206-ab715c8f380c",
      "name": "Nueva solicitud de tiempo libre",
      "webhookId": "6d6dfb56-d2f7-46dc-9896-ab623ba63fca"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"email\": \"{{ $json.Email }}\",\n  \"full_name\": \"{{ $json['Nombre completo'] }}\",\n  \"start_date\": \"{{ $json['Fecha inicio'] }}\",\n  \"end_date\": \"{{ $json['Fecha retorno'] }}\",\n  \"comments\": \"{{ $json.Comentarios }}\",\n  \"days_requested\": {{ \n(\n\n  $json['Fecha retorno'].toDateTime()\n  -\n  $json['Fecha inicio'].toDateTime()\n)\n/\n(1000*60*60*24)\n}}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        16
      ],
      "id": "350db393-f71c-4909-b20e-0d3df9d375e8",
      "name": "Extraer data form"
    },
    {
      "parameters": {
        "content": "## Validaciones \n",
        "height": 512,
        "width": 1600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -224
      ],
      "typeVersion": 1,
      "id": "d381f681-7945-475e-aeeb-621aa1c2f843",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "337b8433-9423-4a1f-81b5-387ab0b52f85",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.start_date.toDateTime().plus(7,'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        16
      ],
      "id": "6d497e0b-a0a8-438a-b841-4bb33e474676",
      "name": "Es mayor a hoy + 7 dias?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer data form').item.json.email }}",
        "subject": "=Rechazo de solicitud",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Solicitud no aprobada</title>\n  </head>\n  <body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f8; padding:30px 0;\">\n      <tr>\n        <td align=\"center\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px; background:#ffffff; border-radius:10px; overflow:hidden; box-shadow:0 4px 10px rgba(0,0,0,0.08);\">\n            \n            <!-- Encabezado -->\n            <tr>\n              <td style=\"background:#111827; color:#ffffff; padding:20px 24px; font-size:18px; font-weight:600;\">\n                Respuesta a su solicitud\n              </td>\n            </tr>\n\n            <!-- Contenido -->\n            <tr>\n              <td style=\"padding:24px; color:#111827; font-size:14px; line-height:1.6;\">\n                <p style=\"margin:0 0 12px 0;\">\n                  Estimado/a <strong>{{ $('Extraer data form').item.json.full_name }}</strong>,\n                </p>\n\n                <p style=\"margin:0 0 12px 0;\">\n                  Hemos revisado su solicitud de <strong>vacaciones / d칤a libre</strong> correspondiente al per칤odo\n                  <strong>{{ $('Extraer data form').item.json.start_date }}</strong> al <strong>{{ $('Extraer data form').item.json.end_date }}</strong>.\n                </p>\n\n                <p style=\"margin:0 0 12px 0;\">\n                  Lamentamos informarle que, por el momento, <strong>no es posible aprobarla</strong>.\n                </p>\n\n                <p style=\"margin:0 0 16px 0; padding:12px; background:#f3f4f6; border-left:4px solid #111827;\">\n                  <strong>Motivo:</strong> {{ $json.message }}\n                </p>\n\n                <p style=\"margin:0 0 20px 0;\">\n                  Puede proponer una nueva fecha y con gusto ser치 evaluada.\n                </p>\n\n                <p style=\"margin:0;\">\n                  Atentamente,<br />\n                  <strong>@javiko500</strong><br />\n                  AzuSoftware\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"background:#f9fafb; padding:14px 24px; font-size:12px; color:#6b7280; text-align:center;\">\n                Este es un mensaje autom치tico. Por favor, no responda a este correo.\n              </td>\n            </tr>\n\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        384
      ],
      "id": "8b7e4840-85d6-4937-83b1-9c74d25600f1",
      "name": "Enviar mensaje de rechazo",
      "webhookId": "2928a636-5d08-40a3-a252-196f98876a64",
      "credentials": {
        "gmailOAuth2": {
          "id": "KL3XNYF0CefGwhRF",
          "name": "javiko auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Se debe de solicitar con 7 dias de anticipaci칩n\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        144
      ],
      "id": "273ac099-ca60-46ae-b89d-d5d96e374752",
      "name": "a침adir error -tiempo de solicitud"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "024010a8-79b6-4283-8b55-1f8cef35c139",
              "leftValue": "={{ $('Extraer data form').item.json.days_requested }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -80
      ],
      "id": "3f16c8cb-ffd5-41ad-b6fe-c9c946d03bad",
      "name": "Fechas son correctas?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Las fechas solicitadas no son validas, no es una cantidad de d칤as v치lida ({{ $json.days_requested }})\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        16
      ],
      "id": "e8e5e308-5a76-4354-a50a-a02c6fbd392e",
      "name": "a침adir  error - fechas incorrectas"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        -192
      ],
      "id": "4f7054ce-9b96-4e82-a9d5-6a6dc3cdcbff",
      "name": "obtener dias libres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "M4yCG6RQ9AaCLekK",
          "name": "Postgres - neontec-jk"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30bb8440-3471-4a0a-a65b-5bda0bd98af8",
              "leftValue": "={{ $('Extraer data form').item.json.days_requested }}",
              "rightValue": "={{ $json.vacation_days }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        -192
      ],
      "id": "234d38a8-192f-4e29-a1c4-fa3cc7859f48",
      "name": "tienes suficientes vacaciones?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"No tiene dias de vacaciones que cubra lo solicitado ({{ $json.vacation_days }} d칤as).\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        0
      ],
      "id": "395b0c79-34aa-4bde-be98-6e7a91f05a46",
      "name": "a침adir  error - dias insuficientes"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Solicitud nueva:\nEmpleado: {{ $('Extraer data form').item.json.full_name }}\nEmail: {{ $('Extraer data form').item.json.email }}\n\nFecha de solicitud: {{ $('Extraer data form').item.json.start_date }}/{{ $('Extraer data form').item.json.end_date }}\n\nComentarios: \n\n## Aprobar o rechazar\nPara continuar, [click aqui]({{ $execution.resumeFormUrl }})",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        720,
        -576
      ],
      "id": "a7cce357-2beb-4cd2-8584-ac0cb3259a4d",
      "name": "enviar sms a RRHH",
      "webhookId": "86c9cbda-f440-47f6-b29c-0712d66199ac",
      "credentials": {
        "discordWebhookApi": {
          "id": "nh43riv4Mfl57i8Q",
          "name": "n8n webhook"
        }
      }
    },
    {
      "parameters": {
        "content": "## RRHH\n",
        "height": 496,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -768
      ],
      "typeVersion": 1,
      "id": "9049319f-6d5c-4423-9049-aee86b220c23",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Aprobar tiempo libre",
        "formDescription": "=Empleado: {{ $('Extraer data form').item.json.full_name }}\nSolicita: {{ $('Extraer data form').item.json.days_requested }} d칤as\nEntre: {{ $('Extraer data form').item.json.start_date }} y {{ $('Extraer data form').item.json.end_date }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aprobar o rechazar?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Aprobar"
                  },
                  {
                    "option": "Rechazar"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Motivo",
              "fieldType": "textarea",
              "placeholder": "Motivo de rechazo"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "days",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        -576
      ],
      "id": "4f148f72-9cf0-4798-86b7-f332a171e5fa",
      "name": "Esperar a RRHH 48H",
      "webhookId": "8966af92-76d4-4c92-84a1-08c2b861046e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30bb8440-3471-4a0a-a65b-5bda0bd98af8",
              "leftValue": "={{ $json['Aprobar o rechazar?'] }}",
              "rightValue": "=Aprobar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        -160
      ],
      "id": "f328b220-b678-4dcc-b28a-1ed944c1e458",
      "name": "vacaciones Aprobadas por RRHH?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"{{ $json.Motivo }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        64
      ],
      "id": "c1e9d664-d03b-48d4-8e8c-a1c7af8c4488",
      "name": "a침adir  error - RRHH rechazo solicitud"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer data form').item.json.email }}",
        "subject": "=Rechazo de solicitud",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Solicitud no aprobada</title>\n  </head>\n  <body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f8; padding:30px 0;\">\n      <tr>\n        <td align=\"center\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px; background:#ffffff; border-radius:10px; overflow:hidden; box-shadow:0 4px 10px rgba(0,0,0,0.08);\">\n            \n            <!-- Encabezado -->\n            <tr>\n              <td style=\"background:#111827; color:#ffffff; padding:20px 24px; font-size:18px; font-weight:600;\">\n                Respuesta a su solicitud\n              </td>\n            </tr>\n\n            <!-- Contenido -->\n            <tr>\n              <td style=\"padding:24px; color:#111827; font-size:14px; line-height:1.6;\">\n                <p style=\"margin:0 0 12px 0;\">\n                  Estimado/a <strong>{{ $('Extraer data form').item.json.full_name }}</strong>,\n                </p>\n\n                <p style=\"margin:0 0 12px 0;\">\n                  Hemos revisado su solicitud de <strong>vacaciones / d칤a libre</strong> correspondiente al per칤odo\n                  <strong>{{ $('Extraer data form').item.json.start_date }}</strong> al <strong>{{ $('Extraer data form').item.json.end_date }}</strong>.\n                </p>\n\n                <p style=\"margin:0 0 12px 0;\">\n                  Lamentamos informarle que, por el momento, <strong>no es posible aprobarla</strong>.\n                </p>\n\n                <p style=\"margin:0 0 16px 0; padding:12px; background:#f3f4f6; border-left:4px solid #111827;\">\n                  <strong>Motivo:</strong> {{ $json.message }}\n                </p>\n\n                <p style=\"margin:0;\">\n                  Atentamente,<br />\n                  <strong>@javiko500</strong><br />\n                  AzuSoftware\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"background:#f9fafb; padding:14px 24px; font-size:12px; color:#6b7280; text-align:center;\">\n                Este es un mensaje autom치tico. Por favor, no responda a este correo.\n              </td>\n            </tr>\n\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1296,
        384
      ],
      "id": "d2f046ba-0751-4a2e-9c48-35294688a588",
      "name": "Enviar mensaje de rechazo por RRHHH",
      "webhookId": "2928a636-5d08-40a3-a252-196f98876a64",
      "credentials": {
        "gmailOAuth2": {
          "id": "KL3XNYF0CefGwhRF",
          "name": "javiko auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notifcaciones \nEnvio de mensajes sobre el proceso de la solicitud",
        "height": 304,
        "width": 1632
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        320
      ],
      "typeVersion": 1,
      "id": "d263a1c7-de68-4ecf-ac65-f57cf775ccf2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "59e2fa74818cae36ba1ec7045d1aa865202c580af542098164b0cca2bbae2d6f@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8n test"
        },
        "start": "={{ $('Extraer data form').item.json.start_date }}",
        "end": "={{ $('Extraer data form').item.json.end_date }}",
        "additionalFields": {
          "description": "",
          "summary": "=Vacaciones o tiempo libre de {{ $('Extraer data form').item.json.full_name }}\n\nTiempo solicitado: {{ $('Extraer data form').item.json.days_requested }} d칤as"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1712,
        -16
      ],
      "id": "015db8ca-addb-4c9f-9ced-ce696a7cf575",
      "name": "Crear evento de vacaciones del empleado",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3pgKak4WwoGKwcP1",
          "name": "Google Calendar key jk"
        }
      }
    },
    {
      "parameters": {
        "content": "## Procedimientos\nEsto se ejecuta cuando es aprobada la solicitud\n",
        "height": 512,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -224
      ],
      "typeVersion": 1,
      "id": "adbd73fc-d0ea-4221-85e1-c6cd8754731e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('obtener dias libres').item.json.id }}",
            "vacation_days": "={{ $('obtener dias libres').item.json.vacation_days - $('Extraer data form').item.json.days_requested}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vacation_days",
              "displayName": "vacation_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sick_days",
              "displayName": "sick_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        -16
      ],
      "id": "d99c3ab4-dc0b-4881-a52a-460d0d2b1a9e",
      "name": "restar dias de vacaciones",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "M4yCG6RQ9AaCLekK",
          "name": "Postgres - neontec-jk"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer data form').item.json.email }}",
        "subject": "=Aprobaci칩n de solicitud",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Solicitud aprobada</title>\n  </head>\n  <body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f8; padding:30px 0;\">\n      <tr>\n        <td align=\"center\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px; background:#ffffff; border-radius:10px; overflow:hidden; box-shadow:0 4px 10px rgba(0,0,0,0.08);\">\n            \n            <!-- Encabezado -->\n            <tr>\n              <td style=\"background:#065f46; color:#ffffff; padding:20px 24px; font-size:18px; font-weight:600;\">\n                Solicitud aprobada\n              </td>\n            </tr>\n\n            <!-- Contenido -->\n            <tr>\n              <td style=\"padding:24px; color:#111827; font-size:14px; line-height:1.6;\">\n                <p style=\"margin:0 0 12px 0;\">\n                  Estimado/a <strong>{{ $('Extraer data form').item.json.full_name }}</strong>,\n                </p>\n\n                <p style=\"margin:0 0 12px 0;\">\n                  Nos complace informarle que su solicitud de <strong>vacaciones / d칤a libre</strong> correspondiente al per칤odo\n                  <strong>{{ $('Extraer data form').item.json.start_date }}</strong> al\n                  <strong>{{ $('Extraer data form').item.json.end_date }}</strong>\n                  ha sido <strong>aprobada</strong>.\n                </p>\n\n                <p style=\"margin:0 0 16px 0; padding:12px; background:#ecfdf5; border-left:4px solid #065f46;\">\n                  Puede planificar sus actividades con normalidad durante las fechas indicadas.\n                </p>\n\n                <p style=\"margin:0;\">\n                  Le deseamos un excelente descanso.<br /><br />\n                  Atentamente,<br />\n                  <strong>@javiko500</strong><br />\n                  AzuSoftware\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"background:#f9fafb; padding:14px 24px; font-size:12px; color:#6b7280; text-align:center;\">\n                Este es un mensaje autom치tico. Por favor, no responda a este correo.\n              </td>\n            </tr>\n\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2256,
        384
      ],
      "id": "1e51818d-5d36-4084-b26b-34f90a3e7610",
      "name": "Enviar mensaje de aprobacion por RRHH",
      "webhookId": "2928a636-5d08-40a3-a252-196f98876a64",
      "credentials": {
        "gmailOAuth2": {
          "id": "KL3XNYF0CefGwhRF",
          "name": "javiko auth"
        }
      }
    }
  ],
  "pinData": {
    "Esperar a RRHH 48H": [
      {
        "json": {
          "Aprobar o rechazar?": "Aprobar",
          "Motivo": "test mensaje de rechazo",
          "submittedAt": "2025-12-20T14:48:28.217Z",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Nueva solicitud de tiempo libre": {
      "main": [
        [
          {
            "node": "Extraer data form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer data form": {
      "main": [
        [
          {
            "node": "Es mayor a hoy + 7 dias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es mayor a hoy + 7 dias?": {
      "main": [
        [
          {
            "node": "Fechas son correctas?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "a침adir error -tiempo de solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "a침adir error -tiempo de solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fechas son correctas?": {
      "main": [
        [
          {
            "node": "obtener dias libres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "a침adir  error - fechas incorrectas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "a침adir  error - fechas incorrectas": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener dias libres": {
      "main": [
        [
          {
            "node": "tienes suficientes vacaciones?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tienes suficientes vacaciones?": {
      "main": [
        [
          {
            "node": "enviar sms a RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "a침adir  error - dias insuficientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "a침adir  error - dias insuficientes": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar sms a RRHH": {
      "main": [
        [
          {
            "node": "Esperar a RRHH 48H",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a RRHH 48H": {
      "main": [
        [
          {
            "node": "vacaciones Aprobadas por RRHH?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vacaciones Aprobadas por RRHH?": {
      "main": [
        [
          {
            "node": "Crear evento de vacaciones del empleado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "a침adir  error - RRHH rechazo solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "a침adir  error - RRHH rechazo solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje de rechazo por RRHHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento de vacaciones del empleado": {
      "main": [
        [
          {
            "node": "restar dias de vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "restar dias de vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje de aprobacion por RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "019ecf37-0e7c-4546-a6f7-6b212ef04727",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48fc7ad25e5a5f2af4a7146245b96cc79708fafa3bf85f16810ea7784b0ccd27"
  },
  "id": "S9qIOapDDAzBS9Wy",
  "tags": []
}