tools/Pokemon finder Tool.json
{
  "name": "Pokemon finder Tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"name\": \"Picachu\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "53850dec-950a-42a2-8095-66e4b6068859",
      "name": "Inicio datos de entrada"
    },
    {
      "parameters": {
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $json.name.toLowerCase() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "c28ec9b3-9182-4ba3-b55d-6200635f9a52",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e371b5f-1f21-44e4-9c6c-109653608a5f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "878f8686-ead8-49f2-9bd8-9c7991df5a17",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "4e50eaba-187a-44ee-a478-ab12a9af4302",
              "name": "back_default",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            },
            {
              "id": "b4653dde-aebe-415d-8528-6a3f0acc0aac",
              "name": "front_default",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "f85f2398-968b-4b95-a6c9-ab05888a95ae",
              "name": "weight",
              "value": "={{ $json.weight }}",
              "type": "number"
            },
            {
              "id": "f2e1b8a8-cf62-4f30-b51e-f8c12f4ad922",
              "name": "types",
              "value": "={{ $json.types.map(item => item.type).map(item => item.name) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "7590813d-9c25-4dfe-9bfd-c174ebd3b7a2",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Inicio datos de entrada": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0b1fa68e-ec61-45d5-a35b-e7fa8f76ddcd",
  "meta": {
    "instanceId": "1a47f4c671d2d2e30274a1c416bcf208f06e54b60d53e089e8d0d2cb0e39f96a"
  },
  "id": "WNUmOvZqDCj1chajjw-rQ",
  "tags": []
}